<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body style="background-color: blueviolet;">

    <h1>This is my first page</h1>
    <h2>Monika here</h2>

    <!-- Button to go to Web Page -->
    <a href="web.html">
        <button>Google</button>
    </a>

    <br><br>

    <!-- Button to go to Form Page -->
    <a href="form.html">
        <button>Form</button>
    </a>

</body>
</html>
